<h1>Hii Let's upload a video</h1>
<form action="/video/upload" method="post" enctype="multipart/form-data">
    <label for="video">Select a video to upload: </label>
    <input type="file" id="video" name="video">
    <br>
    <button type="submit">Upload</button>
</form>
