<h1>This is a video stream page</h1>
<!-- <video width="854" height="480" src="Aerial_Sunset.mp4" controls autoplay></video> -->
<!-- <video controls autoplay>
    <video src="http://localhost:8081/out.mpd" type="application/dash+xml"></video>
</video>  -->
